/* Components: questions */

.c-prerecomm__question {
	margin: $margin-m $margin;
	padding: $padding-m;
	border:1px solid $black-accent-color;
	border-radius: $border-radius-xxs;
	background-color: $white-main-color;

	h3 {
		font-weight: 100;
	}
}