/* COMPONENTS: Broker */

.c-broker {
	padding: $padding-m;
	border:1px solid $default-main-color;
	border-radius: $border-radius-xxs;
	margin:$margin-xxs;
	max-width:300px;
	display: inline-block;
	vertical-align: middle;

	&:hover {
		background-color: #f7f7f7;
	}
}

.c-broker__details {
	p {
		font-size: 14px;
		color:$black-accent-color;
	}
}