/* GLOBAL */

// Fonts
$font-family: 'Raleway', sans-serif;


// Paddings
$padding: 0px;
$padding-xxs: 5px;
$padding-xs: 10px;
$padding-s: 15px;
$padding-m: 20px;
$padding-l: 40px;
$padding-xl: 80px;

// margins
$margin: 0px;
$margin-xxs: 5px;
$margin-xs: 10px;
$margin-s: 15px;
$margin-m: 20px;
$margin-l: 40px;
$margin-xl: 80px;

// BORDER RADIUS
$border-radius-xxs:5px;
$border-radius-xs: 10px;
$border-radius-s: 30px;
$border-radius-m: 50px;
$border-radius-l: 70px;
$border-radius-xl: 100px;

// BREAKPOINTS
$tablet: 700px;
$desktop: 1000px;
